/**
  |============================
  | Clients
  |============================
*/
.client-grid__link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-cl);
  border-radius: 4px;

  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 1px solid var(--active-link-txt);
    .client-grid__icon {
      fill: var(--active-link-txt);
    }
  }
}

.client-grid__icon {
  fill: var(--icons-cl);

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
