/**
  |============================
  | Team
  |============================
*/

.team {
  background-color: var(--secondary-bg-cl);
}

.grid__card {
  --items: 4;
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));

  background-color: var(--additional-bg-cl);
}

.card__wrapper {
  padding: 30px 0;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card__subject {
  display: block;
  margin-bottom: 10px;
  text-align: center;

  @include fonts (500, 16px, 19px, 00.03em);
  // font-weight: 500;
  // font-size: 16px;
  // line-height: calc(19 / 16);
  // letter-spacing: 0.03em;

  color: var(--main-txt-cl);
}

.card__desc {
  text-align: center;

  @include fonts ($fs: 16px, $lh: 19px, $ls: 00.03em);
  // font-size: 16px;
  // line-height: calc(19 / 16);
  // letter-spacing: 0.03em;
  color: var(--secondary-txt-cl);
  margin-bottom: 16px;
}

.socials {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.socials__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--additional-txt-cl);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus{background-color: var(--active-link-txt);
  .socials__icon {
  fill: var(--additional-txt-cl);
    } 
  }
}
.socials__icon {
  fill: var(--icons-cl);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



